
:root {
    --background-color: rgb(216, 222, 239);
  }


* { box-sizing: border-box; }

body {
    background-color: var(--background-color);

}

.card{
    margin: 10px;
    border-style: double;
    padding: 10px;
}

.display-flex{
    display: flex;
}

.cursor-pointer{
    cursor: pointer;
  }

  .primary-color {
    color:white;
    background-color:rgb(21, 40, 120);
  }
  
  .float-right{
    float: right;
  }

  .btn-primary{
    color:white;
    border-radius: 6px;
    background-color:rgb(21, 40, 120);
  }