

* { box-sizing: border-box; }

.card{
    /* width: 100%; */

}

.column2{
    background-color: blueviolet;
}

.column1{
    background-color: yellow;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}