* { box-sizing: border-box; }

.header {
    /* overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px; */

}

.header a {
    float: left;

    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    /*Reduces underline */
    font-size: 18px;
    line-height: 20px;
    border-radius: 15px;
    margin-left: 45px;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header a.head-right {
    float: right;
    background-color: dodgerblue;
    color: #f1f1f1;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

}

.header{
    position: sticky;
    top: 0px;
    min-height: 40px;
    display: inline-grid;
    width: 100%;
    align-content: center;
}