
.display-flex {
  display: inline-flex;
}

.display-content {
  display: contents;
}

.card {
  min-height: 225px;
}

.row2 {
  margin-bottom: 50px;
}

.apply-job-btn {
  float: right;
  position: absolute;
  right: 14px;
}

.pad0 {
  padding: 0%;
}

.pad-left {
  padding-right: 0%;
}

/* benefit and perk card start */
.benefit {
  width: 156px;
  height: 72px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.benefit-label {
  font-size: 13px;
  margin-top: 5px;
  padding: 0 25px;
}

.benefit-img {
  width: 20px;
  height: 20px;
}
/* benefit and perk card end */

/* Breadcrumb CSS start; taken from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-bottom: 0px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Breadcrumb CSS End; taken from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */


/* Apply Job Modal CSS Start */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.apply-modal {
  display: inline-flex;
  z-index: 2;
  top: 210px;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.apply-modal-container {
  display: none;
  position: fixed;
  top: 0;
  overflow: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.apply-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.error-msg {
  color: red;
}

/* Apply Job Modal CSS End */

/* Toast Notification Start */
#toastNotification {
  display: none; /* Hidden by default*/
  position: fixed;
  bottom: 60px;
  color: #fff;
  background-color: rgb(56, 104, 56);
  text-align: center;
  border-radius: 14px;
  padding: 20px;
  justify-content: center;
}

/* Toast Notification End */